@import "@fontsource/poppins";
@import "tailwindcss";
@import "@/assets/dialog.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-body: oklch(0.967 0.001 286.375);
    --color-on-body: oklch(0.21 0.006 285.885);
    --color-muted: oklch(0.552 0.016 285.938);
    --color-input: oklch(0.705 0.015 286.067);
    --color-border: oklch(0.92 0.004 286.32);
}

@layer base {
    .dark {
        --color-body: oklch(0.21 0.006 285.885);
        --color-on-body: oklch(0.967 0.001 286.375);
        --color-input: oklch(0.442 0.017 285.786);
        --color-border: oklch(0.274 0.006 286.033);
    }
}

@layer components {
    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: --spacing(2);
        white-space: nowrap;
        border: 1px solid transparent;
        border-radius: var(--radius-xl);
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
        font-weight: var(--font-weight-medium);
        @apply transition-colors;

        @variant focus {
            @apply ring-[2px] outline-hidden;
            --tw-ring-color: var(--color-input);
        }
    }

    .btn svg {
        pointer-events: none;
        width: --spacing(4);
        height: --spacing(4);
    }

    .btn--md,
    .btn:not(.btn--sm, .btn--icon) {
        height: --spacing(9);
        padding-inline: --spacing(4);
        padding-block: --spacing(2);
    }

    .btn--icon {
        width: --spacing(9);
        height: --spacing(9);
    }

    .btn--ghost {
        color: var(--color-on-body);
        border-color: var(--color-on-body);

        @variant hover {
            background-color: color-mix(
                in oklab,
                var(--color-on-body) 5%,
                transparent
            );
        }
    }
}
